html
	
	-var title = "Post"
	include includes/header.pug

	body

		nav
			.nav-wrapper
				a.brand-logo.center
					i.material-icons face 
					ul.left.hide-on-med-and-dow
						li
							a(href='/') Home
						li
							a(href='/profile') Profile
						li.active
							a(href='/posts/new') New Entry
						li
							a(href='/search') Search Post
						li
							a(href='/logout') Logout

		div.container.center-align
			div.row.text-align
				div.col.l6.offset-l3.s12.post
					if data.user
						p #{data.user.name}
					p #{data.createdAt}
					p.title #{data.title}
					p #{data.message}

			if data.comments
				each comment in data.comments
					div.row.text-align
						div.col.l6.offset-l3.s12.post
					
							p #{comment.user.name}
							p.title #{data.createdAt}
							p #{comment.message}

			div.row.text-align
				div.col.l6.offset-l3.s12.post
					form(method='post' action='/comment')
						p Comment
						textarea(type='text', name='inputComment')

						br
						br
						input(type='submit' value='submit')


	include includes/footer.pug

								