html
	
	-var title = "Post"
	include includes/header.pug

	body
		main
			nav
				.nav-wrapper
					a.brand-logo.center
						ul.left.hide-on-med-and-dow
							li
								a(href='/') Home
							li
								a(href='/profile') Profile
							li.active
								a(href='/posts/new') New Entry
							li
								a(href='/search') Search Post
							li
								a(href='/logout') Logout

			div.container.center-align
				div.row.text-align
					div.col.l8.offset-l2.m6.offset-m3.s12.post
						p.left-align #{data.user.name}
						p.date.right-align #{data.createdAt}
						h5.title #{data.title}
						p #{data.message}

				p Comments

				if data.comments
					each comment in data.comments
						div.row
							div.col.l6.offset-l3.m6.offset-m3.s10.offset-s1.comment
								p.left-align #{comment.user.name}
								p.date.right-align.title #{data.createdAt}
								p #{comment.message}

				div.row.text-align
					div.col.l8.offset-l2.m6.offset-m3.s12.post
						form(method='post' action='/comment')
							h5.center-align Leave a comment!
							textarea(type='text', name='inputComment')

							br
							br
							input(type='submit' value='submit')


	include includes/footer.pug

								